neomutt/certificate*
neomutt/*.gpg
tmp
*/tmp

# vim files
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

#do not ignore .github directory
!.github

# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist
