[Desktop Entry]
Version=1.0
Name=Neoman
Comment=Neoman Neovim/NeoMutt Manager
GenericName=Neoman
Exec=kitty --title="Neoman" --start-as normal --override font_size=18 --override draw_minimal_borders=yes --override initial_window_width=90c --override initial_window_height=28c --override tab_bar_min_tabs=2 --override startup_session=none neoman
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
StartupNotify=true
